{% extends "base.html" %}

{% block title %} Food App {% endblock %}

{% block content12 %}
<br></br>
<h1 style="text-align: center;">Welcome to our Food App! </h1>
<div style="justify-content: center; display: flex; margin-top: 50px;"><img src="{{ url_for('bp_open.webcam') }} "/>
</div>

    <br></br>


    <div class="container">
        <div class="col-md-12 text-center">
            <button type="button" class="btn btn-outline-success btn-lg" onclick="window.location.href='{{ url_for( "bp_open.index") }}';">START</button>
        </div>
    </div>

    <br></br>

<script>

function myFunction() {
  document.getElementById("demo").innerHTML = "Searching for food...";
}
</script>

{% endblock %}

