{% extends "base.html" %}
{% block content %}
<a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Spicy Southwest Pasta Salad</h5>
          <small class="text-muted">3 years ago</small>
        </div>
        <p class="mb-1">While browsing for a pasta salad recipe, I found Inez Willenborg's Homestyle Macaroni Salad. It sounded good, but I didn't have all the ingredients, so I improvised and came up with this one. We absolutely loved it. Thank you, Inez, for the recipe that was the inspiration for this winner.</p>
        <small class="text-muted">Ready In: 20mins</small>
      </a>
      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Titel</h5>
          <small class="text-muted">x days ago</small>
        </div>
        <p class="mb-1">description/ingredients</p>
        <small class="text-muted">Ready in x min</small>
      </a>
      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Titel</h5>
          <small class="text-muted">x days ago</small>
        </div>
        <p class="mb-1">description/ingredients</p>
        <small class="text-muted">Ready in x min</small>
      </a>
      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Titel</h5>
          <small class="text-muted">x days ago</small>
        </div>
        <p class="mb-1">description/ingredients</p>
        <small class="text-muted">Ready in x min</small>
      </a>
      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Titel</h5>
          <small class="text-muted">x days ago</small>
        </div>
        <p class="mb-1">description/ingredients</p>
        <small class="text-muted">Ready in x min</small>
      </a>
      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Titel</h5>
          <small class="text-muted">x days ago</small>
        </div>
        <p class="mb-1">description/ingredients</p>
        <small class="text-muted">Ready in x min</small>
      </a>
      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Titel</h5>
          <small class="text-muted">x days ago</small>
        </div>
        <p class="mb-1">description/ingredients</p>
        <small class="text-muted">Ready in x min</small>
      </a>
      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Titel</h5>
          <small class="text-muted">x days ago</small>
        </div>
        <p class="mb-1">description/ingredients</p>
        <small class="text-muted">Ready in x min</small>
      </a>
      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Titel</h5>
          <small class="text-muted">x days ago</small>
        </div>
        <p class="mb-1">description/ingredients</p>
        <small class="text-muted">Ready in x min</small>
      </a>
{% endblock %}